/* zen-maru-gothic-regular - japanese */
@font-face {
  font-display:swap;
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/zen-maru-gothic-subset/zen-maru-gothic-subset-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/zen-maru-gothic-subset/zen-maru-gothic-subset-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* zen-maru-gothic-500 - japanese */
@font-face {
  font-display:swap;
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./fonts/zen-maru-gothic-subset/zen-maru-gothic-subset-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/zen-maru-gothic-subset/zen-maru-gothic-subset-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* zen-maru-gothic-700 - japanese */
@font-face {
  font-display:swap;
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/zen-maru-gothic-subset/zen-maru-gothic-subset-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/zen-maru-gothic-subset/zen-maru-gothic-subset-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* zen-maru-gothic-900 - japanese */
@font-face {
  font-display:swap;
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('./fonts/zen-maru-gothic-subset/zen-maru-gothic-subset-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/zen-maru-gothic-subset/zen-maru-gothic-subset-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* passion-one-900 - latin */
@font-face {
  font-display:swap;
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('./fonts/passion-one-v16-latin/passion-one-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/passion-one-v16-latin/passion-one-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bungee-regular - latin */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/bungee-v11-latin/bungee-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/bungee-v11-latin/bungee-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bungee-regular - latin */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/bungee-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/bungee-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* source-code-pro-regular - latin */
@font-face {
  font-display:swap;
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/source-code-pro-v22-latin/source-code-pro-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/source-code-pro-v22-latin/source-code-pro-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-regular - latin */
@font-face {
  font-display:swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/rubik-v21-latin/rubik-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/rubik-v21-latin/rubik-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin */
@font-face {
  font-display:swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./fonts/rubik-v21-latin/rubik-v21-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/rubik-v21-latin/rubik-v21-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - latin */
@font-face {
  font-display:swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/rubik-v21-latin/rubik-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/rubik-v21-latin/rubik-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-900 - latin */
@font-face {
  font-display:swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('./fonts/rubik-v21-latin/rubik-v21-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/rubik-v21-latin/rubik-v21-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
